.form {
    width: 290px;
    height: 240px;
    padding-top: 40px;
    // border: 2px black solid;
    border-radius: 20px;
    margin: auto;
    .input-fields {
        padding-left: 45px;
    }
    .login-button {
        padding-left: 100px;
    }
}